/*---------- Header ----------*/
.header {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    background-color: gainsboro;
    justify-items: end;
    padding: 50px;
    gap: 100px;
}

.a__header-menu {
    display: flex;
    color: #000;
    text-decoration: none;
    background-color: var(--bg-1);
    padding: 10px;
    gap: 10px;
    border: var(--border-1);
    width: 100px;
    font-size: 20px;
    border-radius: 3px;
}

.a__header-menu:hover {
    background-color: var(--bg-2);
}

.nav__header {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.nav__header li {
    display: flex;
    list-style-type: none;
}

/*---------- Main ----------*/
.main {
    padding: 50px;
}

.a__1 {
    background-color: var(--bg-1);
    padding: 6px;
    border-radius: var(--border-radius-5);
    color: #000;
    text-decoration: none;
}

.a__1:hover {
    background-color: var(--bg-2);
    color: #fff;

}

.topic-1 {
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    color: var(--color-1);
    background-color: var(--topic-1-bg);
    padding: 20px 50px 20px 50px;
    border-radius: var(--border-radius-5);
    margin-bottom: 20px;

}

.title-2 {
    display: flex;
    justify-content: center;
    width: 800px;
    font-size: 24px;
    padding: var(--padding-title);
    background-color: var(--title-2-bg);
    border-radius: var(--border-radius-5);
    margin-bottom: 10px;
}

.title-3 {
    display: inline-flex;
    font-size: 24px;
    padding: var(--padding-title);
    background-color: var(--title-3-bg);
    border-radius: var(--border-radius-5);
}

.subtitle-2 {
    font-weight: bold;
    font-size: 24px;
    margin: 30px 0 0 50px;
}

/*---------- Footer ----------*/
.footer {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    background-color: #000;
    height: 300px;
}

